@font-face{
    font-family:'Vazir';
    src:url('font/fonts/Vazir.eot') format('eot'),
        url('font/fonts/Vazir.woff') format('woff'),
        url('font/fonts/Vazir.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
body {
    background-image: url('../img/background/ep_naturalblack.png');
    font-family: Vazir, tahoma;
}
